@{
    Layout = "_LayoutAuth";
}

@model LoginModel

<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image">
                        <img src="https://media.istockphoto.com/id/154212066/vi/anh/m%E1%BB%99t-con-m%C3%A8o-xi%C3%AAm-v%E1%BB%9Bi-%C4%91%C3%B4i-m%E1%BA%AFt-xanh-%C4%91%E1%BA%B7t-tr%C3%AAn-n%E1%BB%81n-tr%E1%BA%AFng.jpg?s=612x612&w=0&k=20&c=eFCJnR-ZczUAwb_10vjkNYr-hs0alhZQn7C3xy3jjmQ=" alt="">
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                            </div>
                            <div asp-validation-summary="All"></div>
                            <form class="user" method="post">
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                      asp-for="Eml"  aria-describedby="emailHelp" placeholder="Enter Email Address...">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user"
                                       asp-for="Pwd"  id="exampleInputPassword" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                        <input  asp-for="Rem" type="checkbox" class="custom-control-input" id="customCheck">
                                        <label asp-for="Rem" class="custom-control-label" for="customCheck">Remember
                                            Me</label>
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-user btn-block">
                                    Login
                                </button>
                                <hr>
                                <a href="/auth/googlelogin" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Login with Google
                                </a>
                                <a href="/auth/facebooksignin" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="/auth/forgot">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/auth/register">Create an Account!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
